/* TRENDING MAIN CONTENT */
/* FONT STYLING FOR MAIN CONTENT */
main{
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}
/* HEADER FOR TRENDING PAGE */
h1{
  font-family: 'Balsamiq Sans', cursive;
}
/* ENTIRE MAIN CONTENT OF TRENDING PAGE */
.combineTrend {
  display: -webkit-inline-box;
}
/* FILTER BUTTONS AND HEADER */
.filter {
  display: inline-grid;
  margin-left: 3%;
  background-color: #A385AB;
  border-radius: 20px;
  padding: 3px;
}

.filter>h3 {
  color: white;
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
}
/* FILTER BUTTONS */
.filterButton {
  background-color: #c0acc5;
  margin: 2% 0;
  transition: transform 0.3s ease;
  transform: translateX(0px);
  border-radius: 20px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
  color:black;
}

.filterButton:hover {
  transform: translateX(10px);
}

.filterButton:focus {
  background-color: #D353F3;
}
/* GRID CONTAINER FOR INDIVIDUAL ITEM */
.column{
  width:1121px;
}
.grid-containerTrend {
  display: grid;
  max-width: 70%;
  align-items: center;
  background-color: #c0acc5;
  padding: 2%;
  margin: 2% 15%;
  margin-right: 0px;
  grid-template-areas:
    'image image header1 header1 header1 header1'
    'image image description1 description1 description1 description1'
    'image image description1 description1 description1 description1';
  gap: 5%;
  transition: transform 0.3s ease;
  transform: translateY(0px);
}

.grid-containerTrend:hover {
  transform: translateY(10px);
}
/* TITLE OF ITEM */
.trendheader {
  grid-area: header1;
}
/* DESCRIPTION OF ITEM */
.description {
  grid-area: description1;
}
/* IMAGE OF ITEM */
.trendingImages {
  grid-area: image;
}
.trendingPICTURES{
  width:300px;
  height:300px;
}

/* RESPONSIVE MOBILE VERSION */
/* DEFAULT RESPONSIVE SETTING */
@media screen and (max-width:500px) {
  .grid-containerTrend {
    display: block;
  }

  .filter {
    display: inline-flex;
    gap: 1%;
    margin-left: 1%;
    padding-right: 8px;
    border-radius: 26px;
  }

  .filter>h3 {
    margin-top: 5%;
    margin-right: 3%;
    padding-left: 1%;
  }

  .filterButton {
    padding: 0 4px;
  }

  .column {
    display: initial;
  }

}
/* DEFAULT RESPONSIVE SETTING */
/* DIFFERENT MOBILE VERSION*/
/* SAMSUNG GALAXY S8+ */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .filter {
        display: inline-flex;
        gap: 1%;
        margin-left: 1%;
        padding-right: 27px;
        border-radius: 26px;
      }

      .filter>h3 {
        margin-top: 5%;
        margin-right: 0px;
        padding-left: 0px;
        font-size: 90%;
      }

      .filterButton {
        padding: 0px;
      }

      .trendingPICTURES{
        width:100%;

      }

}
/* SAMSUNG GALAXY S8+ */

/* IPHONE SE & IPHONE XR & PIXEL 5 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

      .filter {
        display: inline-flex;
        gap: 1%;
        margin-left: 2%;
        padding-right: 4px;
        border-radius: 26px;
      }

      .filter>h3 {
        margin-top: 5%;
        margin-right: 0px;
        padding-left: 0px;
      }

      .filterButton {
        padding: 0px;
        font-size: 89%;
      }

      .trendingPICTURES{
        width:100%;

      }

}
/* IPHONE SE & IPHONE XR & PIXEL 5 */

/* IPHONE 12 PRO & SAMSNG GALAXY S20 ULTRA*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

      .filter {
        display: inline-flex;
        gap: 1%;
        margin-left: 1%;
        padding-right: 8px;
        border-radius: 26px;
      }

      .filter>h3 {
        margin-top: 5%;
        margin-right: 0px;
        padding-left: 0px;
      }

      .filterButton {
        padding: 0px;
      }

      .trendingPICTURES{
        width:100%;
      }

}
/* IPHONE 12 PRO & SAMSNG GALAXY S20 ULTRA*/
/* DIFFERENT MOBILE VERSION */
/* RESPONSIVE MOBILE VERSION */
/* TRENDING MAIN CONTENT */
